[submodule "vendor/gitlab.com/gomidi/midi"]
	path = vendor/gitlab.com/gomidi/midi
	url = https://gitlab.com/gomidi/midi.git
[submodule "vendor/gitlab.com/gomidi/rtmididrv"]
	path = vendor/gitlab.com/gomidi/rtmididrv
	url = https://gitlab.com/gomidi/rtmididrv.git
